<h2> Update your cat! </h2>

<img src="<%= @cat.picture_url %>" />


<form action ="<%=cat_url(@cat)%>" method="post">
<input name= "_method" type="hidden" value="patch" />



  <label for="cat name">Name </label>
  <input value = <%=@cat.name%> name="cat[name]" id="cat_name" type="text">
  <br>

  <label for="cat picture_url">Picture Url </label>
  <input value = <%=@cat.picture_url%> name="cat[picture_url]" id="cat_picture_url" type="text">
  <br>


  <label for "cat_age">Age</label>
  <input value = <%=@cat.age%> name="cat[age]" id="cat_age" type="number">

  <br>

<label>Sex</label>

  <div>

    <input name="cat[sex]" id="cat_sex_m" type="radio" <%= "checked" if @cat.sex == "m"%> value="m">
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" <%= "checked" if @cat.sex == "f"%> value="f">
    <label for="cat_sex_f">Female</label>
  </div>



  <label for="cat_biography">Biography</label>
  <textarea id="cat_biography"><%=@cat.biography%> </textarea>
  <br>

<% puts "hello"
puts "hello"
puts "hello" %>

  <label for="cat_coat_color">Coat color</label>

    <select name="cat[coat_color]">

      <option value="brown" >Brown</option>
      <option value="black" selected>Black</option>
      <option value="blue">Blue</option>
      <option value="white">White</option>
      <option value="RAINBOW CAT">RAINBOW CAT</option>
    </select>
    <br>

    <label for="cat_birth_date">Birth date</label>
    <input value = <%=@cat.birth_date%> name="cat[birth_date]" id="cat_birth_date" type="date">

    <input type="submit" value="Update the cat"!>

  </form>
