<big><big><big> <h2><%=@cat.name%></h2> </big></big></big>

<br>
<img src="<%= @cat.picture_url %>" />


<ul>
  <li>Name: <%= @cat.name %></li>
  <li>Age: <%= @cat.age %></li>
  <li>Sex: <%= @cat.sex %></li>
  <li>Bio: <%= @cat.biography %></li>
  <li>Color: <%= @cat.coat_color %></li>
</ul>

<%= button_to "Remove Cat", cat_url(@cat), method: :delete %>
<%= link_to "Update Cat", edit_cat_url(@cat)%>
